
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Band</title>
</head>
<body>
    <p>Welkom bij uw Band app. Hier komt u alles te weten over de bands en hun leden.</p>
    <a asp-controller="Band" asp-action="Lijst">Lijst</a>
</body>
</html>
