
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <a asp-controller="Band" asp-action="Index">Band app</a>
</body>
</html>
